body {
  font-family: "Times New Roman", Times, serif;
}

.card-title {
  font-size: 36px;
  color: #333;
}

.card-text {
  font-size: 18px;
  color: #666;
}

a {
  font-size: 20px;
  text-decoration: none;
}
